[submodule "Carthage/Checkouts/EZSwiftExtensions"]
	path = Carthage/Checkouts/EZSwiftExtensions
	url = https://github.com/goktugyil/EZSwiftExtensions.git
[submodule "Carthage/Checkouts/MGSwipeTableCell"]
	path = Carthage/Checkouts/MGSwipeTableCell
	url = https://github.com/MortimerGoro/MGSwipeTableCell.git
[submodule "Carthage/Checkouts/RandomColorSwift"]
	path = Carthage/Checkouts/RandomColorSwift
	url = https://github.com/onevcat/RandomColorSwift.git
[submodule "Carthage/Checkouts/realm-cocoa"]
	path = Carthage/Checkouts/realm-cocoa
	url = https://github.com/realm/realm-cocoa.git
[submodule "Carthage/Checkouts/RxSwift"]
	path = Carthage/Checkouts/RxSwift
	url = https://github.com/ReactiveX/RxSwift.git
[submodule "Carthage/Checkouts/RxDataSources"]
	path = Carthage/Checkouts/RxDataSources
	url = https://github.com/RxSwiftCommunity/RxDataSources.git
[submodule "Carthage/Checkouts/RxRealm"]
	path = Carthage/Checkouts/RxRealm
	url = https://github.com/RxSwiftCommunity/RxRealm.git
[submodule "Carthage/Checkouts/SnapKit"]
	path = Carthage/Checkouts/SnapKit
	url = https://github.com/SnapKit/SnapKit.git
